.dia {
    border: 1px solid rgba(200, 200, 255, .8);
    border-radius: 5px;
    background-color: rgba(200, 200, 250, .1);
    margin: 2px;
    padding: 2px;
}

.hoy{
    background-color: green;
}
.no-lectivo{
    background-color: rgba(255, 200, 200, .8);
}

.fecha-dia {
    background-color: rgba(200, 200, 255, 1);
    text-align: right;
}

.no-lectivo .fecha-dia {
    background-color: rgba(255, 200, 200, 1);
}